﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BAM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Book", "About", "Home")</li>
                    <li>@Html.ActionLink("Album", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Movie", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About Me", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <hr />
        <footer class="footerll">
            
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ">
                <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
                <hr />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12  ">
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                <hr />
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 ">
                <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>    
                <hr />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 ">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                <hr />
            </div>



    </div>
    
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
