﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bookcard{
    margin-top: 200px;
    color: #F3E5F5;
    background-color: #8E24AA;
    height: 500px;
    border-color: #4A148C;
    
}
.bookcard p{
    color: #CE93D8;
    border: 500px;
}

.footerll{
    margin-top: 20px;
    background-color:crimson;
}
.footerll p{
    font-size: 16px;
}


.albumcard{
    margin-top: 200px;
    color: #F3E5F5;
    background-color: #039BE5;
    height: 500px;
    border-color: #4A148C;
    
   
}

 
.moviecard{
    margin-top: 200px;
    color: #F3E5F5;
    background-color: #FB8C00;
    height: 500px;
    border-color: #4A148C;
 
}
.giris{
     margin-top: 50px;
    color: #F3E5F5;
    background-color: #F44336;
    height: 100px;
    border-color: #4A148C;


}

.songonderi{ color: #F3E5F5;
    background-color: #8BC34A;
    height: 400px;
    border-color: #4A148C;

}

.haber{ color: #F3E5F5;
    background-color:#26A69A;
    height: 400px;
    border-color: #4A148C;

}
   