﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 giris">
        <i  aria-hidden="true">EBRU KARA B151210086</i>
        <hr />

        <p>  BAM</p>


    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 songonderi">
            <i  aria-hidden="true">SON GONDERILER</i>
            <hr />

           


        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 haber">
            <i aria-hidden="true">HABERLER</i>
            <hr />

          

        </div>


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 bookcard">
                <i class="fa fa-book fa-3x" aria-hidden="true">BOOK</i>
                <hr />

                <p>  kjasdhkjasdhkjashdkjashjkh</p>


            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 albumcard">
                <i class="fa fa-music fa-3x" aria-hidden="true">ALBUM</i>
                <hr />

                <p>
                    kjasdhkjasdhkjashdkjashjkhfdnnf
                </p>


            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 moviecard">
                <i class="fa fa-film fa-3x" aria-hidden="true">MOVIE</i>
                <hr />

                <p>
                    kjasdhkjasdhkjashdkjashjkh
                    çsdöfvçös
                    sdçövçsdö
                </p>


            </div>


            <div class="row">
                @*class= row div bitti*@

